/*Body*/
body{
	background-color: black;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
}
#particles-js{
	height: 100%;
	background: black;
}



mytab {
  overflow: hidden;
  border: 10px solid #ccc;
  background-color: #f1f1f1;
}

#my-tabs{
	display: inline;
}


#my-tab-example{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);

  	 width: 40%;
  height: 50%;

  padding: 1px;  
  background: black;
  color: white;
  text-align: center;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);

    overflow:hidden;
}

.tab-button {
  background-color: grey; 
  border: 2px solid #00335F;
  border-radius: 5px;
  color: #00335F;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  float: left;
  font-weight: bold;
}

.tab-button.is-visible{
  font-family: 'Raleway', sans-serif;
  background-color: #febe09; 
  border: 2px solid #00335F;
  border-top: 7px solid #00335F;
  border-radius: 5px;
  color: #00335F;
  padding: 5px 8px;
  padding-top: 15;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  float: left;
  font-weight: bold;
}


#my-text-container{
	float: left;
}


#sb-image{
	width:100%;
	height:auto;
}

#my-video-container{
	display: none;
	margin-top: 0px;
}

#my-image-container{
	margin-top: 10px;
}

iframe{
	height: 100%;
	width: 100%;
}






